<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="defaultPushSource" value="TBC.Asgard" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TBC.Asgard" value="https://triumphbcap.pkgs.visualstudio.com/_packaging/TBC.Asgard/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <TBC.Asgard>
      <add key="Username" value="%NUGET_USERNAME%" />
      <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
    </TBC.Asgard>
  </packageSourceCredentials>
</configuration>
